body {
	background-color: black;
}


html, body {
    height: 50%;
}

#demo {
    height: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: gray;
}
